@charset "utf-8";

/* temhabank-N1 */
.temhabank-N1 {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #fff;
}

.temhabank-N1.top-menu-active {
  padding-top: 6.7rem;
}

.temhabank-N1 .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8rem;
}

.temhabank-N1 .header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.temhabank-N1 .user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.temhabank-N1 .user-menu li {
  position: relative;
}

.temhabank-N1 .user-menu li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 1.2rem;
  background: #e5e5e5;
}

.temhabank-N1 .user-menu li a {
  padding: 2rem 1.2rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.temhabank-N1 .user-menu li:last-child a {
  padding: 2rem 0 2rem 1.2rem;
}

.temhabank-N1 .header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.temhabank-N1 .header-title {
  display: flex;
  margin-bottom: 0;
}

.temhabank-N1 .header-title a {
  height: 100%;
}

.temhabank-N1 .header-title img {
  /* height: 100%; */
  object-fit: contain;
  vertical-align: top;
  transition: filter 0.3s;
}

.temhabank-N1 .header-gnblist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.temhabank-N1 .header-gnbitem {
  position: relative;
  font-size: 20px;
}

.temhabank-N1 .header-gnblink {
  padding: 2.8rem 3rem;
  height: 100%;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.temhabank-N1 .header-gnblink span {
  position: relative;
  transition: color 0.3s;
}

.temhabank-N1 .header-gnblink span::after {
  content: "";
  transform: scaleX(0);
  width: 100%;
  height: 0.2rem;
  transition: 0.3s;
}

.temhabank-N1 .header-sublist {
  position: absolute;
  top: 100%;
  overflow: hidden;
  min-height: 0;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.temhabank-N1 .header-gnbitem:hover .header-sublist {
  overflow: hidden;
  min-height: auto;
  opacity: 1;
  pointer-events: auto;
}

.temhabank-N1 .header-gnbitem:hover .header-gnblink span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  transform: scaleX(1);
  background-color: #111111;
}

.temhabank-N1 .header-subitem {
  overflow: hidden;
  width: 14rem;
  background: #fff;
}

.temhabank-N1 .header-sublink {
  padding: 1rem 2rem;
  width: 100%;
  font-weight: 500;
  transition: color 0.2s, background 0.2s;
  will-change: color, background;
}

.temhabank-N1 .header-sublink:hover {
  background: #111111;
  color: #fff;
}

.temhabank-N1 .header-right {
  display: flex;
  align-items: center;
}

.temhabank-N1 .header-right .header-gnb {
  margin-right: 1.8rem;
}

.temhabank-N1 .header-utils>ul {
  display: flex;
  align-items: center;
}

.temhabank-N1 .header-utils>ul>li {
  margin-left: 1.2rem;
}

.temhabank-N1 .header-utils>ul>li>img {
  width: auto;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  transition: filter 0.3s;
}

.temhabank-N1 .header-right button {
  max-width: 3.2rem;
  background: none;
  border: none;
}

.temhabank-N1 .header-right button img {
  width: auto;
  max-height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.temhabank-N1 .header-utils .member a {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 0;
}

.temhabank-N1 .header-utils .member img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.temhabank-N1 .header-utils .btn-allmenu {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.temhabank-N1 .header-utils .btn-allmenu:hover .ico-hamburger:nth-child(2) {
  width: 2.4rem;
}

.temhabank-N1 .header-utils .btn-allmenu .ico-hamburger,
.temhabank-N1 .btn-momenu .ico-hamburger {
  width: 2.4rem;
  height: 0.2rem;
  background: #111;
  border-radius: 1rem;
  transition: width 0.3s, transform 0.3s, opacity 0.3s;
  will-change: width, transform, opacity;
}

.temhabank-N1 .header-utils .btn-allmenu .ico-hamburger:nth-child(even),
.temhabank-N1 .btn-momenu .ico-hamburger:nth-child(2) {
  width: 1.4rem;
}

.temhabank-N1 .btn-momenu {
  display: none;
}

.temhabank-N1 .btn-moclose {
  display: none;
}

.temhabank-N1 .header-fullmenu {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  padding: 0 2.4rem;
  visibility: hidden;
  background: #000;
  transition: 0.3s;
  opacity: 0;
}

.temhabank-N1 .header-fullmenu.fullmenu-right {
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
}

.temhabank-N1 .header-fullmenu.fullmenu-left {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.temhabank-N1 .header-fullmenu.fullmenu-top {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}

.temhabank-N1 .header-fullmenu.fullmenu-bottom {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}

.temhabank-N1 .header-fullmenu.fullmenu-active {
  visibility: visible;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.temhabank-N1 .fullmenu-wrapper {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 100%;
  max-width: 128rem;
}

.temhabank-N1 .fullmenu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.temhabank-N1 .fullmenu-title {
  margin-bottom: 0;
}

.temhabank-N1 .fullmenu-title a {
  height: 2.3rem;
}

.temhabank-N1 .fullmenu-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.temhabank-N1 .fullmenu-member {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.temhabank-N1 .fullmenu-member li {
  position: relative;
}

.temhabank-N1 .fullmenu-member li a {
  padding: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.temhabank-N1 .fullmenu-member li::marker {
  content: "";
}

.temhabank-N1 .fullmenu-member li+li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 1.4rem;
  background: rgba(255, 255, 255, 0.2);
}

.temhabank-N1 .fullmenu-gnblist {
  display: flex;
  justify-content: center;
}

.temhabank-N1 .fullmenu-gnbitem {
  width: 20%;
}

.temhabank-N1 .fullmenu-gnbitem+.fullmenu-gnbitem {
  margin-left: 4rem;
}

.temhabank-N1 .fullmenu-gnblink {
  position: relative;
  padding-bottom: 4rem;
  width: 100%;
  font-weight: 500;
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.temhabank-N1 .fullmenu-gnblink::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background: #ffffff;
  transition: 0.2s;
}

.temhabank-N1 .fullmenu-gnblink.on::after {
  width: 18rem;
}

.temhabank-N1 .fullmenu-sublist {
  padding-top: 4rem;
}

.temhabank-N1 .fullmenu-subitem+.fullmenu-subitem {
  padding-top: 0.8rem;
}

.temhabank-N1 .fullmenu-sublink {
  position: relative;
  padding-bottom: 5px;
  font-weight: 400;
  color: #a2a2a2;
  transition: 0.3s;
}

.temhabank-N1 .fullmenu-sublink::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.temhabank-N1 .fullmenu-sublink:hover {
  color: var(--white);
}

.temhabank-N1 .fullmenu-sublink:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

.temhabank-N1 .fullmenu-close {
  position: fixed;
  right: 8rem;
  top: 2.4rem;
  padding: 0.5rem;
  width: 4.2rem;
  height: 4.2rem;
  background: transparent;
  border: none;
}

.temhabank-N1 .fullmenu-close img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1120px) {
  .temhabank-N1 .header-title a {
    height: 2.4rem;
  }

  .temhabank-N1 .header-gnblink {
    padding: 2.8rem 2.4rem;
  }
}

@media (max-width: 992px) {
  .temhabank-N1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .temhabank-N1 .header-gnb {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    padding: 0 1.6rem;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height 0.3s;
  }

  .temhabank-N1 .header-gnb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.12) 60%, rgba(0, 0, 0, 0) 100%);
    transition: opacity 0.3s, visibility 0.3s;
  }

  .temhabank-N1.block-active .header-gnb {
    overflow-y: auto;
    height: calc(100vh - 6rem);
    padding-bottom: 19rem;
  }

  .temhabank-N1 .header-container {
    min-height: 6rem;
  }

  .temhabank-N1 .header-top {
    z-index: 10;
    visibility: hidden;
    border: none;
    opacity: 0;
    transition: opacity 0.3s 0.1s, visibilty 0.3s 0.1s;
    will-change: opacity, visibility;
  }

  .temhabank-N1.block-active .header-top {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  .temhabank-N1 .user-menu {
    justify-content: flex-start;
    padding: 0 2.2rem;
  }

  .temhabank-N1 .user-menu li a,
  .temhabank-N1 .user-menu li:last-child a {
    padding: 2.4rem 1.2rem;
  }

  .temhabank-N1 .user-menu li:first-child a {
    padding-left: 0;
  }

  .temhabank-N1 .header-title a {
    width: 14rem;
    height: 1.6rem;
  }

  .temhabank-N1 .header-center {
    position: absolute;
    top: 100%;
    left: 0;
    transform: none;
    width: 100%;
    height: 0;
  }

  .temhabank-N1 .header-gnblist {
    display: block;
    visibility: hidden;
    transition: opacity 0.3s 0.1s;
    opacity: 0;
  }

  .temhabank-N1 .header-gnblink {
    display: flex;
    align-items: flex-end;
    padding: 1.8rem 0;
    width: 100%;
    text-align: left;
    transition: border 0.3s;
    will-change: border;
    border-bottom: 1px solid #e5e5e5;
  }

  .temhabank-N1.top-menu-active .header-gnbitem:first-child .header-gnblink {
    padding-top: 6.8rem;
  }

  .temhabank-N1 .header-gnbitem:hover .header-gnblink span {
    border: none;
  }

  .temhabank-N1 .header-gnbitem:hover .header-gnblink span::after {
    content: none;
  }

  .temhabank-N1 .header-sublist {
    display: none;
    position: relative;
    padding: 1.8rem 0 2rem 0;
    opacity: 1;
  }

  .temhabank-N1 .header-gnbitem.item-active .header-gnblink {
    border-bottom: 1px solid #111111;
  }

  .temhabank-N1 .header-subitem {
    width: 100%;
  }

  .temhabank-N1 .header-subitem+.header-subitem {
    padding-top: 0.8rem;
  }

  .temhabank-N1 .header-sublink {
    padding: 0;
    color: var(--text-color3);
  }

  .temhabank-N1 .header-sublink:active {
    color: #111111;
  }

  .temhabank-N1 .header-sublink:hover {
    background: #ffff;
    color: #111111;
  }

  .temhabank-N1 .header-right button,
  .temhabank-N1 .header-utils .member a {
    width: 2.8rem;
    height: 2.8rem;
  }

  .temhabank-N1 .header-utils>ul>li {
    margin-left: 0.6rem;
  }

  .temhabank-N1 .header-utils .allmenu {
    display: none;
  }

  .temhabank-N1 .btn-momenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    margin-left: 0.6rem;
  }

  .temhabank-N1 .btn-momenu .ico-hamburger {
    width: 2rem;
  }

  .temhabank-N1 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.2rem;
  }

  .temhabank-N1.block-active .header-center {
    pointer-events: auto;
  }

  .temhabank-N1.block-active .header-title {
    display: flex;
    align-items: center;
    height: 6rem;
  }

  .temhabank-N1.block-active .header-gnblist {
    visibility: visible;
    opacity: 1;
  }

  .temhabank-N1 .header-gnbitem:has(.header-subitem) .header-gnblink::after {
    content: "";
    display: flex;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(../icons/ico_downarrow_black.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    transition: transform 0.3s;
    will-change: transform;
  }

  .temhabank-N1.block-active .header-gnblink {
    align-items: center;
    justify-content: space-between;
  }

  .temhabank-N1.block-active .header-gnbitem.item-active .header-gnblink::after {
    content: "";
    transform: rotate(180deg);
  }

  .temhabank-N1.block-active .header-member {
    display: flex;
  }

  .temhabank-N1.block-active .btn-momenu .ico-hamburger:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }

  .temhabank-N1.block-active .btn-momenu .ico-hamburger:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }

  .temhabank-N1.block-active .btn-momenu .ico-hamburger:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }

  .temhabank-N1 .header-fullmenu {
    display: none;
  }
}
/* temhabank-N3 */
.temhabank-N3 {
  position: relative;
  overflow: hidden;
  background: url(../images/temhabank_N3_01.png) no-repeat center/cover;
}

.temhabank-N3 .contents-container {
  height: 60rem;
}

.temhabank-N3 .contents-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.temhabank-N3 .textset {
  text-align: center;
}

.temhabank-N3 .textset .textset-tit {
  margin-bottom: 3.3rem;
  color: var(--white);
}

.temhabank-N3 .textset .textset-subtit {
  margin-bottom: 0;
  color: var(--white);
}

@media (max-width: 992px) {
  .temhabank-N3 {
    background: url(../images/temhabank_N3_02.png) no-repeat center/cover;
  }

  .temhabank-N3 .textset .textset-subtit+.textset-tit {
    margin-top: 0.8rem;
  }

  .temhabank-N3 .btn-wrap {
    bottom: 4rem;
  }
}
/* temhabank-N4 */
.temhabank-N4 {
  overflow: hidden;
  transform: translateY(-6.4rem);
  position: relative;
  padding-bottom: 6rem;
}

.temhabank-N4 .contents-inner {
  width: 100%;
  padding-top: 4px;
}

.temhabank-N4 .tabset {
  margin-bottom: 6rem;
}

.temhabank-N4 .tabset.tabset-brick .tabset-list {
  background: linear-gradient(to right, rgba(var(--primary-rgb), 0.9), rgba(var(--secondary-rgb), 0.9));
}

.temhabank-N4 .tabset.tabset-brick .tabset-list .tabset-link {
  gap: 0.8rem;
  border: none;
  color: var(--white);
}

.temhabank-N4 .tabset.tabset-brick .tabset-item {
  width: calc(100% / 3);
}

.temhabank-N4 .tabset .tabset-item:not(:last-child) {
  border-right: 1px solid rgba(var(--white-rgb), 0.5);
}

.temhabank-N4 .tabset .tabset-item:hover {
  border-color: transparent;
}

.temhabank-N4 .tabset.tabset-brick .tabset-list.tabset-fill .tabset-link.active,
.temhabank-N4 .tabset.tabset-brick .tabset-list.tabset-fill .tabset-link:hover {
  background: var(--white);
  border: none;
  color: var(--black);
}

.temhabank-N4 .tabset .tabset-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.temhabank-N4 .tab-cont {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.temhabank-N4 [class*="col-"] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 33.6rem;
}

.temhabank-N4 .col-left {
  display: none;
  grid-template-columns: repeat(2, 1fr);
}

.temhabank-N4 .col-left.active {
  display: grid;
}

.temhabank-N4 .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  height: 100%;
  text-align: center;
}

.temhabank-N4 .primary {
  background: #4075bd;
}

.temhabank-N4 .primary-alpha {
  background: #80aec0;
}

.temhabank-N4 .secondary {
  background: #e9e9e9;
}

.temhabank-N4 .secondary-alpha {
  background: #83b4ab;
}

.temhabank-N4 .gray {
  background: #e9e9e9;
}

.temhabank-N4 .gray-alpha {
  background: #b4b3b3;
}

.temhabank-N4 .menu-item img {
  width: 6.8rem;
  height: 5.8rem;
  object-fit: contain;
}

.temhabank-N4 .menu-item span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(#111111);
  font-weight: var(--fw-bold);
}

.temhabank-N4 .menu-wrap .menu-item span {
  color: var(--black);
}

.temhabank-N4 .col-center {
  display: none;
  flex-direction: column;
}

.temhabank-N4 .col-center.active {
  display: flex;
}

.temhabank-N4 .col-center>div {
  flex: 1;
}

.temhabank-N4 .notice {
  padding: 2rem 3rem;
  background: var(--white);
}

.temhabank-N4 .col-center .notice {
  padding: 0 3rem;
}

.temhabank-N4 .col-center .title {
  padding-top: 2rem;
}

.temhabank-N4 .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

.temhabank-N4 .title strong {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.temhabank-N4 .notice-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.temhabank-N4 .notice-list span {
  flex-shrink: 0;
}

.temhabank-N4 .notice-list p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.temhabank-N4 .notice-list a+a {
  padding-top: 1.5rem;
}

.temhabank-N4 .menu-wrap {
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.temhabank-N4 .menu-wrap.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.temhabank-N4 .col-right {
  padding: 3rem;
  background: #ffffff;
  border: #e5e7eb 0.1rem solid;
}

.temhabank-N4 .col-right .title {
  grid-row: span 2;
}

.temhabank-N4 .col-right .title strong {
  color: #454b57;
}

.temhabank-N4 .btn-wrap {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.temhabank-N4 .btn-wrap [class*="btn-"] {
  background: none;
  border: none;
  color: var(--white);
}

.temhabank-N4 .btn-play,
.temhabank-N4 .btn-pause {
  display: none;
}

.temhabank-N4 .btn-play.active,
.temhabank-N4 .btn-pause.active {
  display: block;
}

.temhabank-N4 .swiper {
  width: 100%;
}

.temhabank-N4 .swiper-slide {
  min-height: 22.7rem;
  aspect-ratio: 306 / 227;
}

.temhabank-N4 .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.temhabank-N4 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 992px) {
  .temhabank-N4 {
    transform: translateY(-5.6rem);
    padding-bottom: 0;
  }

  .temhabank-N4 .tabset {
    margin: 0;
  }

  .temhabank-N4 .tab-cont {
    grid-template-columns: 1fr;
  }

  .temhabank-N4 .tabset.tabset-brick .tabset-list {
    padding: 0;
  }

  .temhabank-N4 .tabset.tabset-brick .tabset-item {
    flex: 1;
    margin: 0;
    width: auto;
    border: none;
  }

  .temhabank-N4 .tabset .tabset-item:not(:last-child) {
    border-right: 1px solid rgba(var(--white-rgb), 0.5);
  }

  .temhabank-N4 .menu-item a {
    gap: 1rem;
  }

  .temhabank-N4 .menu-item img {
    width: 6rem;
    height: 5.1rem;
  }

  .temhabank-N4 .col-center .notice {
    padding: 0;
  }

  .temhabank-N4 .title {
    margin-bottom: 2rem;
  }

  .temhabank-N4 .col-right {
    padding: 2.5rem 1.5rem;
  }

  .temhabank-N4 .swiper-slide {
    height: 22.7rem;
    align-self: unset;
  }

  .temhabank-N4 .swiper-slide a {
    text-align: center;
  }

  .temhabank-N4 .swiper-slide img {
    width: 30rem;
    object-fit: contain;
  }
}
/* temhabank-N5 */
.temhabank-N5 {
  overflow: hidden;
  position: relative;
  padding-bottom: 6rem;
}

.temhabank-N5 .contents-inner {
  width: 100%;
}

.temhabank-N5 h2 {
  margin-bottom: 3rem;
}

.temhabank-N5 .link-area {
  display: flex;
  border: 1px solid var(--border-color);
}

.temhabank-N5 .link {
  flex: 1;
}

.temhabank-N5 .link a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding: 3.5rem;
}

.temhabank-N5 .link:not(:first-child) a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.1rem;
  height: calc(100% - 7rem);
  background: var(--border-color);
}

.temhabank-N5 .thumb {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  height: 6.5rem;
  background: #e9e9e9;
  border-radius: 50%;
  transition: background .3s;
}

.temhabank-N5 .link a:hover .thumb {
  background: var(--primary);
}

.temhabank-N5 .thumb img {
  width: 4.1rem;
  height: 4.1rem;
  object-fit: contain;
  transition: filter .3s;
}

.temhabank-N5 .link a:hover img {
  filter: invert(1) brightness(2);
}

.temhabank-N5 .desc strong {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  transition: color .3s;
}

.temhabank-N5 .link a:hover strong {
  color: var(--primary);
}

.temhabank-N5 .desc span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: var(--text-color3);
  font-weight: var(--fw-bold);
}

.temhabank-N5 .link i {
  display: none;
  margin-left: auto;
}

@media (max-width: 992px) {
  .temhabank-N5 {
    padding-bottom: 3rem;
  }

  .temhabank-N5 h2 {
    text-align: center;
  }

  .temhabank-N5 .link-area {
    flex-direction: column;
  }

  .temhabank-N5 .link a {
    justify-content: flex-start;
    padding: 1.5rem;
  }

  .temhabank-N5 .link+.link {
    border-top: 1px solid var(--border-color);
  }

  .temhabank-N5 .link:not(:first-child) a::before {
    content: none;
  }

  .temhabank-N5 .thumb {
    width: 4.5rem;
    height: 4.5rem;
  }

  .temhabank-N5 .thumb img {
    width: 3.1rem;
    height: 3.1rem;
  }

  .temhabank-N5 .link i {
    display: block;
  }
}
/* temhabank-N6 */
body:has(.fullmenu-active) .temhabank-N6 {
  display: none;
}

.temhabank-N6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.temhabank-N6 .btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 7rem;
  height: 8.2rem;
  background: var(--black);
  color: var(--white);
}

.temhabank-N6 .menu-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.temhabank-N6 .menu-list.active {
  display: block;
}

.temhabank-N6 .item {
  width: 16rem;
  height: 13.4rem;
}

.temhabank-N6 .black {
  background: var(--black);
  height: 10.1rem;
}

.temhabank-N6 .primary {
  background: #4075bd;
}

.temhabank-N6 .primary-alpha {
  background: #6fa0b3;
}

.temhabank-N6 .secondary {
  background: #1a937d;
}

.temhabank-N6 .gray {
  background: #9aabbe;
}

.temhabank-N6 .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: transparent;
  border: none;
}

.temhabank-N6 .item .btn-close span {
  margin-top: 0;
}

.temhabank-N6 .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: center;
}

.temhabank-N6 .item span {
  display: block;
  margin-top: 1.5rem;
}

@media (max-width: 992px) {
  .temhabank-N6 {
    display: none;
  }
}
/* temhabank-N2 */
.temhabank-N2 {
  position: relative;
  background: #2f6488;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.temhabank-N2 .footer-container {
  display: flex;
  justify-content: space-between;
}

.temhabank-N2 .footer-left {
  display: flex;
}

.temhabank-N2 .footer-content {
  width: 100%;
  margin-left: 4rem;
}

.temhabank-N2 .footer-logo {
  margin-bottom: 0;
}

.temhabank-N2 .footer-logo img {
  height: 3.0rem;
  object-fit: contain;
}

.temhabank-N2 .footer-menulist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--fs-p2);
}

.temhabank-N2 .footer-menulink a {
  padding-right: 1.2rem;
  color: var(--white);
}

.temhabank-N2 .footer-menulink+.footer-menulink a {
  padding-left: 1.2rem;
}

.temhabank-N2 .footer-menulink {
  position: relative;
}

.temhabank-N2 .footer-menulink+.footer-menulink::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 1.4rem;
  background: rgba(255, 255, 255, 0.1);
}

.temhabank-N2 .footer-txtgroup {
  margin-top: 1.2rem;
}

.temhabank-N2 .footer-sns {
  display: flex;
  align-items: center;
}

.temhabank-N2 .footer-snslist {
  display: flex;
  align-items: center;
}

.temhabank-N2 .footer-snsitem+.footer-snsitem {
  margin-left: 0.8rem;
}

.temhabank-N2 .footer-snslink {
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.6rem;
}

.temhabank-N2 .footer-snslink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.temhabank-N2 .selectset .btn {
  display: inline-flex;
  align-items: center;
}

.temhabank-N2 .footer-bottom {
  margin-top: 1.2rem;
}

.temhabank-N2 .footer-txt {
  display: flex;
}

.temhabank-N2 .footer-txt+.footer-txt {
  margin-top: 0.3rem;
}

.temhabank-N2 .footer-txt p {
  margin-bottom: 0;
  color: #000;
}

.temhabank-N2 .footer-txt p+p {
  margin-left: 0.8rem;
}

.temhabank-N2 .footer-txt p span+span {
  margin-left: 0.8rem;
}

.temhabank-N2 .footer-txt span {
  color: #000;
}
.temhabank-N1 .header-gnblink span {
  color: #111111;
}

.temhabank-N2 .footer-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s, visibility 0.3s;
  will-change: opacity;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  opacity: 0;
  visibility: hidden;
}

.temhabank-N2 .footer-modal.block-active {
  opacity: 1;
  visibility: visible;
}

.temhabank-N2 .modal-area {
  width: 100%;
  max-width: 92rem;
  background: var(--white);
  border-radius: 0.6rem;
}

.temhabank-N2 .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
  border-bottom: 1px solid #e5e5e5;
}

.temhabank-N2 .modal-close {
  cursor: pointer;
}

.temhabank-N2 .info-area {
  overflow-y: auto;
}

.temhabank-N2 .modal-email .info-area {
  max-height: 17rem;
}

.temhabank-N2 .modal-privacy .info-area {
  max-height: 70.3rem;
}

.temhabank-N2 .info-group+.info-group {
  margin-top: 2.4rem;
}

.temhabank-N2 .info-group strong {
  padding-bottom: 1.2rem;
  display: block;
}

.temhabank-N2 .info-desc {
  max-height: 20.7rem;
  padding: 1.6rem;
  background: #f8f8fa;
  border-radius: 1.6rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.temhabank-N2 .info-desc p.fw-medium {
  font-weight: var(--fw-medium);
}

.temhabank-N2 .info-desc .mtb {
  margin: 2.4rem 0;
}

.temhabank-N2 .info-desc em {
  font-style: normal;
  font-weight: 600;
  margin: 2.4rem 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.temhabank-N2 .info-list em::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background: var(--black);
  border-radius: 50%;
  margin-right: 0.8rem;
}

.temhabank-N2 .info-list p {
  padding-left: 1.2rem;
}

@media (max-width: 992px) {
  .temhabank-N2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .temhabank-N2 .footer-container {
    flex-direction: column;
  }

  .temhabank-N2 .footer-left {
    flex-direction: column;
  }

  .temhabank-N2 .footer-content {
    flex-direction: column;
    margin: 2.4rem 0 1.2rem;
  }

  .temhabank-N2 .footer-txt {
    flex-direction: column;
  }

  .temhabank-N2 .footer-txt+.footer-txt {
    margin-top: 0.6rem;
  }

  .temhabank-N2 .footer-txt p+p {
    margin-left: 0;
  }
}

.auth-menu {
  font-size: 15px;
}